.media {
  width: calc(19% - 5px);
}
@media (max-width: 976px) {
  .media {
    width: calc(25% - 10px);
  }
}

@media (max-width: 747px) {
  .media {
    width: calc(33% - 10px);
  }
}

@media (max-width: 600px) {
  .media {
    width: calc(50% - 10px);
  }
}

@media (max-width: 390px) {
  .media {
    width: calc(80% - 10px);
  }
}
