.media {
  width: calc(20% - 10px);
  height: 250px;
  margin-bottom: 10px;
  margin-left: 10px;
  box-shadow: 0px 1px 3px black;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.media:hover {
  background: #111;
  transform: scale(1.05);
}

@media (max-width: 976px) {
  .media {
    width: calc(25% - 10px);
  }
}

@media (max-width: 747px) {
  .media {
    width: calc(33% - 10px);
  }
}

@media (max-width: 600px) {
  .media {
    width: calc(50% - 10px);
  }
}

@media (max-width: 390px) {
  .media {
    width: calc(80% - 10px);
  }
}
